.idea/
dist/
docs/build/
*.egg-info/
**/__pycache__/**
build/
docs/_build
**/.ipynb_checkpoints/**

*.msh
*.xdmf
*.vtk
*.vtu
*.pvd
*.step

*.png
*.gif
*.h5
*.ipynb

.vscode/
*.iml

#These are the png images for the RF CPW tutorial
!CPW_TL.png
!geometry.png
!lines_integrals.png
!SizeMax_explanetion.png
!symmetry_plane.png
!tuncer_results.png

# julia
Manifest.toml

# bibtex-tidy
*.bib.original
