[project]
name = "femwell"
version = "0.0.1"
authors = [
    {name = "Helge Gehring"},
]
description = "Mode solver for photonic and electric waveguides based on FEM"
keywords = [
    "integrated photonics",
    "silicon photonics",
    "mode solving",
    "finite element analysis"
]
classifiers = [
    "Development Status :: 4 - Beta",
    "Intended Audience :: Science/Research",
    "Programming Language :: Python :: 3",
    "Topic :: Scientific/Engineering"
]
license = {file = "LICENSE"}
readme = "README.md"

requires-python = ">=3.8"

dependencies = [
    "scikit-fem>=8.1.0",
    "gmsh",
    "pygmsh",
    "matplotlib",
    "shapely>=2.0.0"
]

[project.urls]
Homepage = "https://github.com/HelgeGehring/femwell"
Documentation = "https://HelgeGehring.github.io/femwell/"

[tool.poetry]
name = "femwell"
version = "0.0.1"
authors = ["Helge Gehring"]
description = "Mode solver for photonic and electric waveguides based on FEM"
homepage = "https://github.com/HelgeGehring/femwell"
keywords = [
    "integrated photonics",
    "silicon photonics",
    "mode solving",
    "finite element analysis"
]
classifiers = [
    "Development Status :: 4 - Beta",
    "Intended Audience :: Science/Research",
    "Programming Language :: Python :: 3",
    "Topic :: Scientific/Engineering"
]
license = "GPLv3"
readme = "README.md"

[tool.poetry.urls]
Documentation = "https://HelgeGehring.github.io/femwell/"

[tool.poetry.dependencies]
python = ">=3.8"
scikit-fem = ">=8.1.0"
gmsh = "*"
pygmsh = "*"
matplotlib = "*"
shapely = ">=2.0.0"

[tool.poetry.group.test.dependencies]
pytest = "*"
flake8 = "*"

[tool.poetry.group.docs.dependencies]
tqdm = "*"
# sphinx-book-theme = "*"
jupytext = "*"
# myst-parser = "*"
pandas = "*"

[tool.black]
line-length = 100