# Book settings
# Learn more at https://jupyterbook.org/customize/config.html

title: Femwell
author: Helge Gehring
copyright: "2023"
logo: ../logo_inline.svg

# Force re-execution of notebooks on each build.
# See https://jupyterbook.org/content/execute.html
execute:
  execute_notebooks: cache
  timeout: -1

# Define the name of the latex output file for PDF builds
latex:
  latex_documents:
    targetname: book.tex

# Add a bibtex file so that we can create citations
bibtex_bibfiles:
  - references.bib

# Information about where the book exists on the web
repository:
  url: https://github.com/HelgeGehring/femwell  # Online location of your book
  path_to_book: docs  # Optional path to your book, relative to the repository root
  branch: main  # Which branch of the repository should be used when creating links (optional)

# Add GitHub buttons to your book
# See https://jupyterbook.org/customize/config.html#add-a-link-to-your-repository
html:
  use_issues_button: true
  use_repository_button: true
  use_edit_page_button: true
  extra_navbar: ""

parse:
  myst_enable_extensions:
    # - amsmath
    - colon_fence
    # - deflist
    - dollarmath
    # - html_admonition
    # - html_image
    # - linkify
    # - replacements
    # - smartquotes
    - substitution

launch_buttons:
  thebe                  : true

# exclude_patterns: ["photonics/examples/*.md"]
only_build_toc_files: true

sphinx:
  config:
    nb_execution_show_tb: True
    nb_custom_formats:
        .py:
            - jupytext.reads
            - fmt: py