# As described in https://www.nicholasnadeau.com/post/2020/08/one-version-to-rule-them-all-keeping-your-python-package-version-number-in-sync-with-git-and-poetry/
name: publish

on:
  push:
    tags:
      - 'v*'

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.x'
    - name: Generate Changelog
      run: grep -B 9999 "##" -m2 CHANGELOG.md | head -n -1 | tail -n +4 > ${{ github.workspace }}-CHANGELOG.txt
    - name: Install uv
      uses: astral-sh/setup-uv@v6     
    - name: Build and publish
      run: |
        uv tool run --from toml-cli toml set --toml-path pyproject.toml project.version $(git describe --tags --abbrev=0 | sed s/^v//)
        uv build
        uv publish --token ${{ secrets.PYPI_TOKEN }}
    - name: Release
      uses: softprops/action-gh-release@v2
      with:
        body_path: ${{ github.workspace }}-CHANGELOG.txt
        files: dist/*
